
mixin history(type, members, join, left, history)
  ul.nav.nav-tabs.nav-fill#history-nav(role='tablist')
    if type == 'alliance'
      - var link = '/corporation/';
      - var title = '公司';
    else if type == 'corporation'
      - var link = '/character/';
      - var title = '成员';
    

    li.nav-item(role='presentation')
      button.nav-link.active#member-tab(data-bs-toggle="tab", data-bs-target="#member", type="button", role="tab", aria-controls="member", aria-selected="true") 当前#{title}

    if type == 'alliance'
      li.nav-item(role='presentation')
          button.nav-link.join#join-tab(data-bs-toggle="tab", data-bs-target="#join", type="button", role="tab", aria-controls="join", aria-selected="true") 最近加入#{title}

    li.nav-item(role='presentation')
        button.nav-link.leave#leave-tab(data-bs-toggle="tab", data-bs-target="#leave", type="button", role="tab", aria-controls="leave", aria-selected="true") 最近离开#{title}

  div.tab-content#history-nav-content
    if type == 'alliance'
      div.tab-pane.fade.show.active#member(role="tabpanel", aria-labeledby="member-tab")
        table.datatables.table.table-bordered.table-dark
          thead
            tr
              th 名称
              th 成员数
              th 7日成员浮动
          tbody
            each val in members
              tr
                td
                  a(href= link+val.id)= val.name
                td.text-center= val.member_count
                td.text-center= val.diff_7days
    
      div.tab-pane.fade#join(role="tabpanel", aria-labeledby="join-tab")
        if join != null
          table.datatables.table.table-bordered.table-dark
            thead
              tr
                th 名称
                th 加入时间
            tbody
              each val in join
                tr
                  td(style="width: 60%")
                    a(href= link+val.id)= val.name
                  td.text-center= val.start_date
    else if type == 'corporation'
      div.tab-pane.fade.show.active#member(role="tabpanel", aria-labeledby="member-tab")
        table.datatables.table.table-bordered.table-dark
          thead
            tr
              th 角色名
              th 加入时间
          tbody
            each val in members
              tr
                td
                  a(href= link+val.id)= val.name
                td.text-center= val.start_date
    
    div.tab-pane.fade#leave(role="tabpanel", aria-labeledby="leave-tab")
      if left != null
        table.datatables.table.table-bordered.table-dark
          thead
            tr
              th 名称
              th 加入时间
              th 离开时间
          tbody
            each val in left
              tr
                td(style="width: 40%")
                  a(href= link+val.id)= val.name
                td.text-center= val.start_date
                td.text-center= val.end_date
